@font-face{font-family:'Barlow Condensed';font-weight:600;font-style:normal;src:url('../fonts/BarlowCondensed-600.ttf') format('truetype');}
@font-face{font-family:'Barlow Condensed';font-weight:700;font-style:normal;src:url('../fonts/BarlowCondensed-700.ttf') format('truetype');}
@font-face{font-family:'Inter';font-weight:400;font-style:normal;src:url('../fonts/Inter-400.ttf') format('truetype');}
@font-face{font-family:'Inter';font-weight:500;font-style:normal;src:url('../fonts/Inter-500.ttf') format('truetype');}
@font-face{font-family:'Inter';font-weight:600;font-style:normal;src:url('../fonts/Inter-600.ttf') format('truetype');}
@font-face{font-family:'JetBrains Mono';font-weight:500;font-style:normal;src:url('../fonts/JetBrainsMono-500.ttf') format('truetype');}
